.main-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

h1{
    color: rgb(4, 103, 190);
}

.container{
    background-color: rgb(227, 241, 253);
    height: max-content;
    min-height: 30rem;
    width: 50rem;
}

input{
    color: rgb(38, 85, 204);
    position: relative;
    font-size: large;
    padding: 15px;
    border-radius: 30px;
    margin-top: 10px;
    outline: none;
    width: 48.2rem;
    height: auto;
    border: 1px solid rgb(68, 101, 245);
}

.chat-input img{
    height: 2.5rem;
}

.chat-input button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.items img {
    height: 1.5rem;
}

.items button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.items img:hover{
    height: 2em;
    transition: all 0.5s ease-in-out;
}

.details :nth-child(1){
    padding: 10px;
    color: rgb(21, 58, 189);
    font-size: 20px;
    font-weight: 500;
}

.details :nth-child(2) {
    font-size: 13.7px;
    color: rgb(130, 127, 127);
}

.items p {
    margin-left: 1.5em;
    letter-spacing: 0.2px;
    color: rgb(61, 60, 60);
}

.emotes{
    position: relative;
    max-width: fit-content;
    top: -50px;
    left: 42.4em;
}

.emote{
    font-size: 40px;
    position: relative;
    top: -5px;
    left: 10px;
}

.emoji-dir{
    position: absolute;
    top: 10rem;
    left: 50.3rem;
}